@media (max-width: 768px) {
  .nara3 {
    display: none;
  }
  .narbar {
    height: auto;
    display: block;
    padding: 0px;
    margin: auto;
    text-align: left;
    justify-content: center;
  }
  .div-nar {
    display: block;
    padding: 15px;
    border-left: none;
    text-align: left;
  }
  #info {
    display: block;
  }
  #jod-grid {
    display: block;
  }
  #chung-giai {
    display: block;
  }
  .project {
    display: block;
  }
}
