@media (min-width: 768px) and (max-width: 1024px) {
  .nara3 {
    display: none;
  }
  .div-nar {
    height: auto;
    display: block;
  }
  .div-nar a:link,
  a:visited {
    display: block;
    padding: 10px;
    border-left: none;
    text-align: center;
  }
  #jod-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
